node_modules/
dist/
build/
coverage/
pnpm-lock.yaml

.eslintcache
.prettiercache
.stylelintcache

# 自动生成的类型声明文件
**/auto-imports.d.ts
**/components.d.ts

# Spec Kit temporary ignores
.agents
.claude
.github
.specify
specs
AGENTS.md
