:root {
  --candao-crm-blue: #1677ff;
  --candao-crm-purple: #722ed1;
  --candao-crm-cyan: #13c2c2;
  --candao-crm-green: #52c41a;
  --candao-crm-magenta: #eb2f96;
  --candao-crm-pink: #eb2f96;
  --candao-crm-red: #f5222d;
  --candao-crm-orange: #fa8c16;
  --candao-crm-yellow: #fadb14;
  --candao-crm-volcano: #fa541c;
  --candao-crm-geekblue: #2f54eb;
  --candao-crm-gold: #faad14;
  --candao-crm-lime: #a0d911;
  --candao-crm-color-primary: #528dff;
  --candao-crm-color-success: #32b963;
  --candao-crm-color-warning: #fc8e17;
  --candao-crm-color-error: #ff4040;
  --candao-crm-color-info: #528dff;
  --candao-crm-color-text-base: #16233d;
  --candao-crm-color-bg-base: #fff;
  --candao-crm-font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --candao-crm-font-size: 14px;
  --candao-crm-line-width: 1px;
  --candao-crm-line-type: solid;
  --candao-crm-motion-unit: 0.1;
  --candao-crm-motion-base: 0;
  --candao-crm-motion-ease-out-circ: cubic-bezier(0.08, 0.82, 0.17, 1);
  --candao-crm-motion-ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);
  --candao-crm-motion-ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
  --candao-crm-motion-ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
  --candao-crm-motion-ease-out-back: cubic-bezier(0.12, 0.4, 0.29, 1.46);
  --candao-crm-motion-ease-in-back: cubic-bezier(0.71, -0.46, 0.88, 0.6);
  --candao-crm-motion-ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --candao-crm-motion-ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --candao-crm-border-radius: 6px;
  --candao-crm-size-unit: 4px;
  --candao-crm-size-step: 4px;
  --candao-crm-size-popup-arrow: 16px;
  --candao-crm-control-height: 32;
  --candao-crm-z-index-base: 0;
  --candao-crm-z-index-popup-base: 1000;
  --candao-crm-opacity-image: 1;
  --candao-crm-wireframe: false;
  --candao-crm-color-text: rgb(22 35 61 / 95%);
  --candao-crm-color-text-secondary: rgb(22 35 61 / 85%);
  --candao-crm-color-text-tertiary: rgb(22 35 61 / 65%);
  --candao-crm-color-text-quaternary: rgb(22 35 61 / 45%);
  --candao-crm-color-border: rgb(22 35 61 / 15%);
  --candao-crm-color-border-secondary: rgb(22 35 61 / 8%);
  --candao-crm-color-fill: rgb(22 35 61 / 8%);
  --candao-crm-color-bg-layout: rgb(61 109 204 / 4%);
  --candao-crm-color-bg-mask: rgb(22 35 61 / 15%);
  --candao-crm-font-size-heading1: 48px;
  --candao-crm-font-size-heading2: 32px;
  --candao-crm-box-shadow:
    0 1px 4px 0 rgb(22 35 61 / 8%), 0 1px 4px -1px rgb(22 35 61 / 2%),
    0 2px 4px 0 rgb(0 0 0 / 2%);
  --candao-crm-box-shadow-secondary:
    0 2px 8px 0 rgb(22 35 61 / 6%), 0 1px 4px -4px rgb(22 35 61 / 12%),
    0 12px 24px 0 rgb(22 35 61 / 16%);
  --candao-crm-blue-1: #e6f4ff;
  --candao-crm-blue-2: #bae0ff;
  --candao-crm-blue-3: #91caff;
  --candao-crm-blue-4: #69b1ff;
  --candao-crm-blue-5: #4096ff;
  --candao-crm-blue-6: #1677ff;
  --candao-crm-blue-7: #0958d9;
  --candao-crm-blue-8: #003eb3;
  --candao-crm-blue-9: #002c8c;
  --candao-crm-blue-10: #001d66;
  --candao-crm-purple-1: #f9f0ff;
  --candao-crm-purple-2: #efdbff;
  --candao-crm-purple-3: #d3adf7;
  --candao-crm-purple-4: #b37feb;
  --candao-crm-purple-5: #9254de;
  --candao-crm-purple-6: #722ed1;
  --candao-crm-purple-7: #531dab;
  --candao-crm-purple-8: #391085;
  --candao-crm-purple-9: #22075e;
  --candao-crm-purple-10: #120338;
  --candao-crm-cyan-1: #e6fffb;
  --candao-crm-cyan-2: #b5f5ec;
  --candao-crm-cyan-3: #87e8de;
  --candao-crm-cyan-4: #5cdbd3;
  --candao-crm-cyan-5: #36cfc9;
  --candao-crm-cyan-6: #13c2c2;
  --candao-crm-cyan-7: #08979c;
  --candao-crm-cyan-8: #006d75;
  --candao-crm-cyan-9: #00474f;
  --candao-crm-cyan-10: #002329;
  --candao-crm-green-1: #f6ffed;
  --candao-crm-green-2: #d9f7be;
  --candao-crm-green-3: #b7eb8f;
  --candao-crm-green-4: #95de64;
  --candao-crm-green-5: #73d13d;
  --candao-crm-green-6: #52c41a;
  --candao-crm-green-7: #389e0d;
  --candao-crm-green-8: #237804;
  --candao-crm-green-9: #135200;
  --candao-crm-green-10: #092b00;
  --candao-crm-magenta-1: #fff0f6;
  --candao-crm-magenta-2: #ffd6e7;
  --candao-crm-magenta-3: #ffadd2;
  --candao-crm-magenta-4: #ff85c0;
  --candao-crm-magenta-5: #f759ab;
  --candao-crm-magenta-6: #eb2f96;
  --candao-crm-magenta-7: #c41d7f;
  --candao-crm-magenta-8: #9e1068;
  --candao-crm-magenta-9: #780650;
  --candao-crm-magenta-10: #520339;
  --candao-crm-pink-1: #fff0f6;
  --candao-crm-pink-2: #ffd6e7;
  --candao-crm-pink-3: #ffadd2;
  --candao-crm-pink-4: #ff85c0;
  --candao-crm-pink-5: #f759ab;
  --candao-crm-pink-6: #eb2f96;
  --candao-crm-pink-7: #c41d7f;
  --candao-crm-pink-8: #9e1068;
  --candao-crm-pink-9: #780650;
  --candao-crm-pink-10: #520339;
  --candao-crm-red-1: #fff1f0;
  --candao-crm-red-2: #ffccc7;
  --candao-crm-red-3: #ffa39e;
  --candao-crm-red-4: #ff7875;
  --candao-crm-red-5: #ff4d4f;
  --candao-crm-red-6: #f5222d;
  --candao-crm-red-7: #cf1322;
  --candao-crm-red-8: #a8071a;
  --candao-crm-red-9: #820014;
  --candao-crm-red-10: #5c0011;
  --candao-crm-orange-1: #fff7e6;
  --candao-crm-orange-2: #ffe7ba;
  --candao-crm-orange-3: #ffd591;
  --candao-crm-orange-4: #ffc069;
  --candao-crm-orange-5: #ffa940;
  --candao-crm-orange-6: #fa8c16;
  --candao-crm-orange-7: #d46b08;
  --candao-crm-orange-8: #ad4e00;
  --candao-crm-orange-9: #873800;
  --candao-crm-orange-10: #612500;
  --candao-crm-yellow-1: #feffe6;
  --candao-crm-yellow-2: #ffffb8;
  --candao-crm-yellow-3: #fffb8f;
  --candao-crm-yellow-4: #fff566;
  --candao-crm-yellow-5: #ffec3d;
  --candao-crm-yellow-6: #fadb14;
  --candao-crm-yellow-7: #d4b106;
  --candao-crm-yellow-8: #ad8b00;
  --candao-crm-yellow-9: #876800;
  --candao-crm-yellow-10: #614700;
  --candao-crm-volcano-1: #fff2e8;
  --candao-crm-volcano-2: #ffd8bf;
  --candao-crm-volcano-3: #ffbb96;
  --candao-crm-volcano-4: #ff9c6e;
  --candao-crm-volcano-5: #ff7a45;
  --candao-crm-volcano-6: #fa541c;
  --candao-crm-volcano-7: #d4380d;
  --candao-crm-volcano-8: #ad2102;
  --candao-crm-volcano-9: #871400;
  --candao-crm-volcano-10: #610b00;
  --candao-crm-geekblue-1: #f0f5ff;
  --candao-crm-geekblue-2: #d6e4ff;
  --candao-crm-geekblue-3: #adc6ff;
  --candao-crm-geekblue-4: #85a5ff;
  --candao-crm-geekblue-5: #597ef7;
  --candao-crm-geekblue-6: #2f54eb;
  --candao-crm-geekblue-7: #1d39c4;
  --candao-crm-geekblue-8: #10239e;
  --candao-crm-geekblue-9: #061178;
  --candao-crm-geekblue-10: #030852;
  --candao-crm-gold-1: #fffbe6;
  --candao-crm-gold-2: #fff1b8;
  --candao-crm-gold-3: #ffe58f;
  --candao-crm-gold-4: #ffd666;
  --candao-crm-gold-5: #ffc53d;
  --candao-crm-gold-6: #faad14;
  --candao-crm-gold-7: #d48806;
  --candao-crm-gold-8: #ad6800;
  --candao-crm-gold-9: #874d00;
  --candao-crm-gold-10: #613400;
  --candao-crm-lime-1: #fcffe6;
  --candao-crm-lime-2: #f4ffb8;
  --candao-crm-lime-3: #eaff8f;
  --candao-crm-lime-4: #d3f261;
  --candao-crm-lime-5: #bae637;
  --candao-crm-lime-6: #a0d911;
  --candao-crm-lime-7: #7cb305;
  --candao-crm-lime-8: #5b8c00;
  --candao-crm-lime-9: #3f6600;
  --candao-crm-lime-10: #254000;
  --candao-crm-color-fill-secondary: rgb(22 35 61 / 6%);
  --candao-crm-color-fill-tertiary: rgb(22 35 61 / 4%);
  --candao-crm-color-fill-quaternary: rgb(22 35 61 / 2%);
  --candao-crm-color-bg-container: #fff;
  --candao-crm-color-bg-elevated: #fff;
  --candao-crm-color-bg-spotlight: rgb(22 35 61 / 85%);
  --candao-crm-color-primary-bg: #f0f7ff;
  --candao-crm-color-primary-bg-hover: #f0f7ff;
  --candao-crm-color-primary-border: #cce2ff;
  --candao-crm-color-primary-border-hover: #a3c8ff;
  --candao-crm-color-primary-hover: #7aabff;
  --candao-crm-color-primary-active: #3b6ad9;
  --candao-crm-color-primary-text-hover: #7aabff;
  --candao-crm-color-primary-text: #528dff;
  --candao-crm-color-primary-text-active: #3b6ad9;
  --candao-crm-color-success-bg: #ebfaee;
  --candao-crm-color-success-bg-hover: #d8eddd;
  --candao-crm-color-success-border: #a8e0b7;
  --candao-crm-color-success-border-hover: #7dd497;
  --candao-crm-color-success-hover: #7dd497;
  --candao-crm-color-success-active: #21944f;
  --candao-crm-color-success-text-hover: #56c77b;
  --candao-crm-color-success-text: #32b963;
  --candao-crm-color-success-text-active: #21944f;
  --candao-crm-color-error-bg: #fff2f0;
  --candao-crm-color-error-bg-hover: #ffe7e3;
  --candao-crm-color-error-border: #ffc1ba;
  --candao-crm-color-error-border-hover: #ff9991;
  --candao-crm-color-error-hover: #ff6e69;
  --candao-crm-color-error-active: #d92b31;
  --candao-crm-color-error-text-hover: #ff6e69;
  --candao-crm-color-error-text: #ff4040;
  --candao-crm-color-error-text-active: #d92b31;
  --candao-crm-color-warning-bg: #fff7e6;
  --candao-crm-color-warning-bg-hover: #ffe7ba;
  --candao-crm-color-warning-border: #ffd591;
  --candao-crm-color-warning-border-hover: #ffc069;
  --candao-crm-color-warning-hover: #ffc069;
  --candao-crm-color-warning-active: #d66c09;
  --candao-crm-color-warning-text-hover: #ffa940;
  --candao-crm-color-warning-text: #fc8e17;
  --candao-crm-color-warning-text-active: #d66c09;
  --candao-crm-color-info-bg: #f0f7ff;
  --candao-crm-color-info-bg-hover: #f0f7ff;
  --candao-crm-color-info-border: #cce2ff;
  --candao-crm-color-info-border-hover: #a3c8ff;
  --candao-crm-color-info-hover: #a3c8ff;
  --candao-crm-color-info-active: #3b6ad9;
  --candao-crm-color-info-text-hover: #7aabff;
  --candao-crm-color-info-text: #528dff;
  --candao-crm-color-info-text-active: #3b6ad9;
  --candao-crm-color-white: #fff;
  --candao-crm-font-size-sm: 12px;
  --candao-crm-font-size-lg: 16px;
  --candao-crm-font-size-xl: 20px;
  --candao-crm-font-size-heading3: 24px;
  --candao-crm-font-size-heading4: 20px;
  --candao-crm-font-size-heading5: 16px;
  --candao-crm-line-height: 1.5714285714285714;
  --candao-crm-line-height-lg: 1.5;
  --candao-crm-line-height-sm: 1.6666666666666667;
  --candao-crm-line-height-heading1: 1.2105263157894737;
  --candao-crm-line-height-heading2: 1.2666666666666666;
  --candao-crm-line-height-heading3: 1.3333333333333333;
  --candao-crm-line-height-heading4: 1.4;
  --candao-crm-line-height-heading5: 1.5;
  --candao-crm-size-xxl: 48px;
  --candao-crm-size-xl: 32px;
  --candao-crm-size-lg: 24px;
  --candao-crm-size-md: 20px;
  --candao-crm-size-ms: 16px;
  --candao-crm-size: 16px;
  --candao-crm-size-sm: 12px;
  --candao-crm-size-xs: 8px;
  --candao-crm-size-xxs: 4px;
  --candao-crm-control-height-sm: 24;
  --candao-crm-control-height-xs: 16;
  --candao-crm-control-height-lg: 40;
  --candao-crm-motion-duration-fast: 0.1s;
  --candao-crm-motion-duration-mid: 0.2s;
  --candao-crm-motion-duration-slow: 0.3s;
  --candao-crm-line-width-bold: 2px;
  --candao-crm-border-radius-xs: 2px;
  --candao-crm-border-radius-sm: 4px;
  --candao-crm-border-radius-lg: 8px;
  --candao-crm-border-radius-outer: 4px;
  --candao-crm-color-link: #528dff;
  --candao-crm-color-link-hover: #a3c8ff;
  --candao-crm-color-link-active: #3b6ad9;
  --candao-crm-color-fill-content: rgb(22 35 61 / 6%);
  --candao-crm-color-fill-content-hover: rgb(22 35 61 / 8%);
  --candao-crm-color-fill-alter: rgb(22 35 61 / 2%);
  --candao-crm-color-bg-container-disabled: rgb(22 35 61 / 4%);
  --candao-crm-color-border-bg: #fff;
  --candao-crm-color-split: rgb(22 35 61 / 8%);
  --candao-crm-color-text-placeholder: rgb(22 35 61 / 45%);
  --candao-crm-color-text-disabled: rgb(22 35 61 / 45%);
  --candao-crm-color-text-heading: rgb(22 35 61 / 95%);
  --candao-crm-color-text-label: rgb(22 35 61 / 85%);
  --candao-crm-color-text-description: rgb(22 35 61 / 65%);
  --candao-crm-color-text-light-solid: #fff;
  --candao-crm-color-highlight: #ff4040;
  --candao-crm-color-bg-text-hover: rgb(22 35 61 / 6%);
  --candao-crm-color-bg-text-active: rgb(22 35 61 / 8%);
  --candao-crm-color-icon: rgb(22 35 61 / 65%);
  --candao-crm-color-icon-hover: rgb(22 35 61 / 95%);
  --candao-crm-color-error-outline: rgb(255 38 5 / 6%);
  --candao-crm-color-warning-outline: rgb(255 175 5 / 10%);
  --candao-crm-font-size-icon: 12px;
  --candao-crm-control-outline-width: 2px;
  --candao-crm-control-interactive-size: 16px;
  --candao-crm-control-item-bg-hover: rgb(22 35 61 / 4%);
  --candao-crm-control-item-bg-active: #f0f7ff;
  --candao-crm-control-item-bg-active-hover: #f0f7ff;
  --candao-crm-control-item-bg-active-disabled: rgb(22 35 61 / 8%);
  --candao-crm-control-tmp-outline: rgb(22 35 61 / 2%);
  --candao-crm-control-outline: rgb(5 122 255 / 6%);
  --candao-crm-font-weight-strong: 600;
  --candao-crm-opacity-loading: 0.65;
  --candao-crm-link-decoration: none;
  --candao-crm-link-hover-decoration: none;
  --candao-crm-link-focus-decoration: none;
  --candao-crm-control-padding-horizontal: 12px;
  --candao-crm-control-padding-horizontal-sm: 8px;
  --candao-crm-padding-xxs: 4px;
  --candao-crm-padding-xs: 8px;
  --candao-crm-padding-sm: 12px;
  --candao-crm-padding: 16px;
  --candao-crm-padding-md: 20px;
  --candao-crm-padding-lg: 24px;
  --candao-crm-padding-xl: 32px;
  --candao-crm-padding-content-horizontal-lg: 24px;
  --candao-crm-padding-content-vertical-lg: 16px;
  --candao-crm-padding-content-horizontal: 16px;
  --candao-crm-padding-content-vertical: 12px;
  --candao-crm-padding-content-horizontal-sm: 16px;
  --candao-crm-padding-content-vertical-sm: 8px;
  --candao-crm-margin-xxs: 4px;
  --candao-crm-margin-xs: 8px;
  --candao-crm-margin-sm: 12px;
  --candao-crm-margin: 16px;
  --candao-crm-margin-md: 20px;
  --candao-crm-margin-lg: 24px;
  --candao-crm-margin-xl: 32px;
  --candao-crm-margin-xxl: 48px;
  --candao-crm-box-shadow-tertiary:
    0 1px 2px 0 rgb(0 0 0 / 3%), 0 1px 6px -1px rgb(0 0 0 / 2%),
    0 2px 4px 0 rgb(0 0 0 / 2%);
  --candao-crm-screen-xs: 480px;
  --candao-crm-screen-xsmin: 480px;
  --candao-crm-screen-xsmax: 575px;
  --candao-crm-screen-sm: 576px;
  --candao-crm-screen-smmin: 576px;
  --candao-crm-screen-smmax: 767px;
  --candao-crm-screen-md: 768px;
  --candao-crm-screen-mdmin: 768px;
  --candao-crm-screen-mdmax: 991px;
  --candao-crm-screen-lg: 992px;
  --candao-crm-screen-lgmin: 992px;
  --candao-crm-screen-lgmax: 1199px;
  --candao-crm-screen-xl: 1200px;
  --candao-crm-screen-xlmin: 1200px;
  --candao-crm-screen-xlmax: 1599px;
  --candao-crm-screen-xxl: 1600px;
  --candao-crm-screen-xxlmin: 1600px;
  --candao-crm-screen-xxlmax: 1999px;
  --candao-crm-screen-xxxl: 2000px;
  --candao-crm-screen-xxxlmin: 2000px;
  --candao-crm-box-shadow-popover-arrow: 3px 3px 7px rgb(0 0 0 / 10%);
  --candao-crm-box-shadow-card:
    0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%),
    0 5px 12px 4px rgb(0 0 0 / 9%);
  --candao-crm-box-shadow-drawer-right:
    -6px 0 16px 0 rgb(0 0 0 / 8%), -3px 0 6px -4px rgb(0 0 0 / 12%),
    -9px 0 28px 8px rgb(0 0 0 / 5%);
  --candao-crm-box-shadow-drawer-left:
    6px 0 16px 0 rgb(0 0 0 / 8%), 3px 0 6px -4px rgb(0 0 0 / 12%),
    9px 0 28px 8px rgb(0 0 0 / 5%);
  --candao-crm-box-shadow-drawer-up:
    0 6px 16px 0 rgb(0 0 0 / 8%), 0 3px 6px -4px rgb(0 0 0 / 12%),
    0 9px 28px 8px rgb(0 0 0 / 5%);
  --candao-crm-box-shadow-drawer-down:
    0 -6px 16px 0 rgb(0 0 0 / 8%), 0 -3px 6px -4px rgb(0 0 0 / 12%),
    0 -9px 28px 8px rgb(0 0 0 / 5%);
  --candao-crm-box-shadow-tabs-overflow-left: inset 10px 0 8px -8px
    rgb(0 0 0 / 8%);
  --candao-crm-box-shadow-tabs-overflow-right: inset -10px 0 8px -8px
    rgb(0 0 0 / 8%);
  --candao-crm-box-shadow-tabs-overflow-top: inset 0 10px 8px -8px
    rgb(0 0 0 / 8%);
  --candao-crm-box-shadow-tabs-overflow-bottom: inset 0 -10px 8px -8px
    rgb(0 0 0 / 8%);
  --candao-crm-_token-key: 10bttvm;
  --candao-crm-_hash-id: css-dev-only-do-not-override-1u3ogwi;
  --candao-crm-border-radius-xl: 16px;
  --candao-crm-border-radius-full: 9999px;
  --candao-crm-input-width-xs: 88px;
  --candao-crm-input-width-sm: 192px;
  --candao-crm-input-width-md: 296px;
  --candao-crm-input-width-lg: 400px;
  --candao-crm-input-width-xl: 504px;
  --candao-crm-icon-color-default: var(--candao-crm-color-text-description);
  --candao-crm-icon-color-primary: var(--candao-crm-color-primary);
  --candao-crm-icon-color-white: var(--candao-crm-color-white);
  --candao-crm-form-item-margin-bottom: 24px;
  --candao-crm-modal-header-margin-bottom: 24px;
}
