:root {
  --medium-zoom-z-index: 9999;
  --vp-img-preview-bg: #fff;
  --vp-code-block-bg: #282c34;
  --vp-code-lang-color: rgba(171, 178, 191, 0.6);
  --vp-code-line-highlight-color: rgba(255, 255, 255, 0.06);
}

.dark {
  --vp-img-preview-bg: #000;
}

[class~='medium-zoom-overlay'] {
  z-index: var(--medium-zoom-z-index);
}

[class~='medium-zoom-image--opened'] {
  z-index: calc(var(--medium-zoom-z-index) + 1);
}

.vp-doc h3 {
  margin-top: 2.5em;
}

.vp-doc h4 {
  margin-top: 36px;
}

.vp-doc figure {
  margin: 24px 0;
}

.vp-doc figure > img {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.vp-doc figure > figcaption {
  margin-top: 12px;
  font-size: 14px;
  color: var(--vp-c-text-2);
  text-align: center;
}

.vp-doc th:not(:last-child),
.vp-doc td:not(:last-child) {
  white-space: nowrap;
}

.vp-doc div[class*='language-']:not(:where(.vp-raw *)) {
  position: relative;
  margin-right: 0;
  margin-left: 0;
  overflow: hidden;
  background-color: var(--vp-code-block-bg);
  border-radius: 8px;
}

.vp-doc div[class*='language-']:not(:where(.vp-raw *)) pre {
  padding: 14px 0;
  margin: 0;
  overflow-x: hidden;
  background-color: transparent;
}

.vp-doc div[class*='language-']:not(:where(.vp-raw *)) code {
  display: block;
  padding: 0 24px;
  font-size: 14px;
  line-height: 21px;
  word-break: break-all;
  white-space: pre-wrap;
}

.vp-doc div[class*='language-']:not(:where(.vp-raw *)) > span.lang {
  top: 4px;
  right: 10px;
  font-size: 12px;
  color: var(--vp-code-lang-color);
  opacity: 1;
}

.vp-doc div[class*='language-']:not(:where(.vp-raw *)) > button.copy {
  top: 4px;
  right: 4px;
  width: 40px;
  height: 40px;
  background-color: var(--vp-code-block-bg);
  border: 0;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.vp-doc div[class*='language-']:not(:where(.vp-raw *)):hover > button.copy {
  opacity: 1;
}

.vp-doc div[class*='language-']:not(:where(.vp-raw *)) .highlighted {
  background-color: var(--vp-code-line-highlight-color);
}

.vp-doc
  div[class*='language-'].has-focused-lines:not(:where(.vp-raw *))
  .line:not(.has-focus) {
  opacity: 0.55;
  filter: saturate(0.7);
}

@media (width >= 1440px) {
  [id='VPContent'][class~='VPContent']
    [class~='VPDoc'][class~='has-aside']
    [class~='content-container'] {
    max-width: 740px;
  }
}
